@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
    --color-primary: #CFE1B9;
    --color-secondary: #718355;
    --color-tertiary: #87986A;
    --sb-size: 6px;
}

::-webkit-scrollbar {
    width: var(--sb-size);
    height: var(--sb-size);
}

::-webkit-scrollbar-track {
    background: var(--color-primary);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--color-secondary);
    border-radius: 10px;
    border: 2px solid var(--color-primary);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-tertiary);
}

/* Firefox scrollbar styling */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--color-secondary) var(--color-primary);
}

*{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}